body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
}

h1 {
    color: #1e3a8a;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.high-risk {
    border: 3px solid red;
    background-color: #ffe5e5;
}

.low-risk {
    border: 3px solid green;
    background-color: #e6ffe6;
}
.heatmap {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.zone {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.zone.low {
    background-color: green;
}

.zone.high {
    background-color: red;
}
.medium-risk {
    border: 3px solid orange;
    background-color: #fff3e0;
}

